<!DOCTYPE html>
<html data-ng-app="pixiAdminApp">
<head>
    <meta charset="UTF-8"/>
    <title>
        {% block title %}
            Admin Panel | PixiCMS
        {% endblock %}
    </title>
    <link type="text/css" rel="stylesheet" href="/bundles/pixicore/lib/bootstrap/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/bundles/pixicore/lib/fontawesome/css/font-awesome.min.css">

    {% stylesheets
    'bundles/pixicore/css/admin/*'
    'bundles/pixicore/lib/angular-bootstrap/ui-bootstrap-csp.css' filter='cssrewrite'
    %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}

    {% block bundlecss %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

    {% block body %}
    {% endblock %}

    {% javascripts
    '@PixiCoreBundle/Resources/public/lib/jquery/dist/jquery.min.js'
    '@PixiCoreBundle/Resources/public/lib/angular/angular.min.js'
    '@PixiCoreBundle/Resources/public/lib/bootstrap/dist/js/bootstrap.min.js'
    '@PixiCoreBundle/Resources/public/lib/angular-ui-router/release/angular-ui-router.min.js'
    '@PixiCoreBundle/Resources/public/lib/angular-resource/angular-resource.js'
    '@PixiCoreBundle/Resources/public/lib/angular-bootstrap/ui-bootstrap.min.js'
    '@PixiCoreBundle/Resources/public/lib/angular-bootstrap/ui-bootstrap-tpls.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


    {% javascripts
    'bundles/pixicore/js/admin/pixi-resource.js'
    'bundles/pixicore/js/admin/pixi-admin.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% for js in plugable_js_files %}
        <script type="text/javascript" src="{{ js }}"></script>
    {% endfor %}

    <script type="text/javascript" src="/admin/app.js"></script>

{% block bundlejs %}{% endblock %}
</body>
</html>
